.day {
  height: 160px;
  line-height: 160px;
  text-align: center;
}

.mdl-layout__content {
  background-color: #B2DFDB;
}

.sunny {
  height: 100px;
  width: 100px;
}

.three-sunny {
  height: 60px;
  width: 60px;
}

.hourly-sunny {
  height: 30px;
  width: 30px;
}

#today-tab .flex-container {
  display: flex;
  justify-content: space-around;
  border: 1px dashed black;
  flex-wrap: nowrap;
  align-items: flex-end;
  padding-top: 15px;
  padding-bottom: 15px;
}

#today-tab .flex-item {
  flex: 0 1 auto;
  flex-direction: column;
  text-align: center;
  border: 1px dashed blue;
  width: 100%;

}

#today-tab .flex-sub {

}

.today-top .flex-item {

}

.today-three .flex-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.today-nine .flex-item {
  padding-top: 5px;
  padding-bottom: 5px;
}


table {
  width: 100%;
}

tr {
  background-color: #B2DFDB;
}

.no-ride-table {
  background-color: #FFCDD2;
}

#fixed-tab-3 tbody tr {
  height: 100px;
}

form {
  padding: 10px;
}

.pref-toggle {
  margin-bottom: 20px;
}

.day-current-temp {
  font-size: 2rem;
  padding: 1.2rem;
}
