* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  color: #ccc;
  background-color: #333;
  font-family: 'Roboto' sans-serif;
  /*background: linear-gradient(rgba(4,32,26,0.91), rgba(8,64,53,0.91)), url("https://source.unsplash.com/weekly?dirtbike");*/
  background: linear-gradient(rgba(4,32,26,0.91), rgba(8,64,53,0.91)), url("../img/dirtbike.jpg"); /*local dev*/
  background-position: center;
  background-size: cover;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.4);
  overflow: hidden;
}
.container {
  width: 500px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav div {
  padding: 10px;
}
.decision {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}
.weather {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.daylight {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}
.weather div:nth-child(2) {
  padding: 50px;
  width: 300;
}
